@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;500;900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

:root {
  --color-blue: #3C4959;
  --color-yellow: #D9B777;
  --color-grey: #F5F5F5;
  --color-dark_grey: #DEE0E2;
  --color-jet-grey: #282A2C;
}

/* gen */
a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.container {
  margin-left: 200px;
}

.row {
  width: 100%;
  margin: 0 auto;
}

.section_heading {
  color: #000;
  text-align: center;
  font-weight: 600;
  font-size: 32px;
}

.color-yellow {
  color: var(--color-yellow);
}

/* landing page */
nav {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 200px;
  background-color: var(--color-blue);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.nav_logo--img {
  width: 150px;
}

.nav__list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav__link {
  color: var(--color-yellow);
  font-size: 16px;
}

.nav__list li,
.nav__link {
  margin: 24px 0;
}

.image--wrapper {
  width: 50%;
}




/* hamb-menu */
#nav_btn {
  position: absolute;
  top: 24px;
  right: 24px;
  background-color: transparent;
  border: none;
  z-index: 100;
}

#nav_btn:hover {
  cursor: pointer;
}

.menu-btn {
  width: 50px;
}




/* home */
.home--img {
  width: 100%;
  display: block;
}

.home_info--container {
  background-color: var(--color-grey);
}

.home_info--container {
  width: 50%;
}

.home_row {
  display: flex;
  flex-direction: row-reverse;
}

#home_page--video {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  object-position: center;
}

.home__welcome-text,
.home__welcome-text--2,
.home__welcome-text--3 {
  position: absolute;
  font-size: 220px;
  font-weight: 900;
  letter-spacing: .1rem;
  color: var(--color-blue);
  left: 220px;
}

.home__welcome-text {
  top: 5%;
}

.home__welcome-text--2 {
  top: 30%;
}

.home__welcome-text--3 {
  top: 55%;
}


/* foods */

#foods {
  background-color: var(--color-grey);
}

.info__sub-heading,
.info__sub-heading--2, 
.info__sub-heading--divider {
  font-size: 32px;
  font-weight: 500;
}

.info__sub-heading {
  color: var(--color-blue);
}

.info__sub-heading--2,
.info__para--2 {
  color: #FFF;
}

.text_divider {
  width: 50px;
  background-color: var(--color-yellow);
  height: 2px;
  margin: 4px 0 32px 0;
}

.food__row {
  display: flex;
  padding: 2rem 0 4rem 0;
}

.food__row--2 {
  display: flex;
  flex-direction: row-reverse;
  background-color: #282A2C;
  padding: 2rem 0;
}

.info__para,
.info__para--2 {
  max-width: 500px;
  font-weight: 300;
  text-align: center;
}

.info__container {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 24px;
  background-color: var(--color-grey);
}

.info__container--dessert {
  background-color: #282A2C;
}

.food__img--wrapper,
.food__img--wrapper--2 {
  width: 50%;
  height: 375px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.food__img--wrapper {
  background-image: url('./assets/coffee_img.png');
}

.food__img--wrapper--2 {
  background-image: url('./assets/dessert_img.png');
}




/* menu */
#menu {
  background-color: var(--color-grey);
}

.gallery--row {
  padding: 4rem 0;
}

.menu--row,
.contact--row {
  padding: 4rem 24px;
}

.menu--container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 32px;
}

.cafe_menu {
  width: 80%;
}

.section__container--2 {
  background-color: var(--color-dark_grey);
}


.info__sub-heading--menu {
  color: #FFF;
  text-align: center;
  font-weight: 100;
  font-size: 24px;
  margin-bottom: 40px;
}


.menu_sub-heading {
  text-align: center;
  margin-bottom: 40px;
}




/* Banner */
#gallery-banner {
  background-color: #F5F5F5;
}

.images {
  overflow: hidden;
  padding: 4px 0;
  white-space: nowrap;
}

.images:hover .image-slide {
  animation-play-state: paused;
}

.image-slide {
  display: inline-block;
  animation: 50s slide infinite linear;
}

.image-slide img {
  height: 300px;
  margin: 0 50px;
  border-radius: 25px;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translate(-100%);
  }
}





/* connect */
.connect_img-background {
  position: relative;
  height: 500px;
  background-image: url('./assets/seoul_blues--img.jpeg');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.img-background--overlay {
  position: absolute;
  inset: 0;
  background-color: var(--color-blue);
  filter: opacity(0.8);
}


.socials__container {
  position: absolute;
  top: 30%;
  left: 50%;
  width: 40%;
  transform: translate(-50%,-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 50;
}

.connect__sub-heading {
  color: #FFF;
  font-weight: 300;
}

.social_icon {
  border: 2px solid #FFF;
  color: #FFF;
  border-radius: 100%;
  padding: 6px;
  font-size: 16px;
  margin: 0 8px;
}

.contact--row {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  padding: 1rem 24px;
}

.hours--container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.hours--title {
  color: #FFF;
  font-weight: 300;
}

.hours_list {
  color: #FFF;
  font-weight: 100;
}

.phone_address--container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.phone_number,
.address {
  color: var(--color-grey);
  font-weight: 100;
}

.phone_number {
  font-size: 24px;
}

.reserved--container {
  color: #FFF;
  font-weight: 100;
  font-size: 12px;

  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  width: 100px;
}

.reserved {
  margin-bottom: 8px;
}



/* 1660px screen view */
@media (max-width: 1660px) {
  .home__welcome-text,
  .home__welcome-text--2,
  .home__welcome-text--3 {
    font-size: 150px;
  }
}


/* 1200px screen view */
@media (max-width: 1200px) {
  .home__welcome-text,
  .home__welcome-text--2,
  .home__welcome-text--3 {
    font-size: 90px;
  }

  .home__welcome-text {
    top: 15%;
  }

  .home__welcome-text--2 {
    top: 40%;
  }

  .home__welcome-text--3 {
    top: 65%;
  }

  .food__row,
  .food__row--2 {
    flex-direction: column;
    align-items: center;
  }

  .info__container {
    width: 80%;
  }

  .food__img--wrapper,
  .food__img--wrapper--2 {
    width: 100%;
  }

  .row {
    padding: 0;
  }

  .food__row--2 {
    padding: 0;
  }
}


/* 860px view */
@media (max-width: 860px) {
  nav {
    display: none;
  }

  .container {
    margin-left: 0;
  }

  .home__welcome-text,
  .home__welcome-text--2,
  .home__welcome-text--3 {
    left: 32px;
  }
}