@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;500;900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root {
  --color-blue: #3C4959;
  --color-yellow: #D9B777;
  --color-grey: #F5F5F5;
}

/* gen */
a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.container {
  margin-left: 200px;
}

.row {
  width: 100%;
  margin: 0 auto;
}

.section_heading {
  color: #000;
  text-align: center;
  font-weight: 600;
  font-size: 32px;
}

.color-yellow {
  color: var(--color-yellow);
}

/* landing page */
nav {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 200px;
  background-color: var(--color-blue);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.nav_logo--img {
  width: 150px;
}

.nav__list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav__link {
  color: var(--color-yellow);
  font-size: 16px;
}

.nav__list li,
.nav__link {
  margin: 24px 0;
}

.image--wrapper {
  width: 50%;
}


/* home */
.home--img {
  width: 100%;
  display: block;
}

.home_info--container {
  background-color: var(--color-grey);
}

.home_info--container {
  width: 50%;
}

.home_row {
  display: flex;
  flex-direction: row-reverse;
}

#home_page--video {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  object-position: center;
}

.home__welcome-text,
.home__welcome-text--2,
.home__welcome-text--3 {
  position: absolute;
  font-size: 220px;
  font-weight: 900;
  letter-spacing: .1rem;
  color: var(--color-blue);
  left: 15%;
}

.home__welcome-text {
  top: 5%;
}

.home__welcome-text--2 {
  top: 30%;
}

.home__welcome-text--3 {
  top: 55%;
}


/* foods */

#foods {
  background-color: var(--color-grey);
}

.info__sub-heading {
  font-size: 32px;
  font-weight: 500;
  color: var(--color-blue);
}

.food__row {
  display: flex;
}

.food__row--2 {
  display: flex;
  flex-direction: row-reverse;
}

.info__para {
  max-width: 500px;
  font-weight: 300;
  text-align: center;
}

.info__container {
  width: 50%;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 24px;
}

.info__container--dessert {
  background-color: #DEE0E2;
}

.food__img--wrapper {
  width: 50%;
  height: 500px;
  background-image: url('./assets/coffee_img.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}